<div class="container">
    <form class="login--form">
        <h1>Login to continue</h1>
        <div class="form--control">
            <label for="email">Email</label>
            <input id="email" type="email">
            <div class="validation">

            </div>
        </div>

        <div class="form--control">
            <label for="password">Password</label>
            <input id="password" type="password">
            <div class="validation">

            </div>
        </div>

        <button type="submit" class="btn">Log in</button>
    </form>
</div>
