@import '../../styles/variables';

.settings{
    width: 40%;
    margin-right: 25px;
}

app-timer {
    display: flex;
    width: 100%;
}

ul.manual {
    list-style: none;
    margin-bottom: 25px;

    li {
        padding: 10px 0;

        &::before {
            content: "\2022";
            color: #B7280F;
            font-weight: bold;
            display: inline-block;
            width: 1em;
        }
    }
}