<div class="container">
    <div class="settings">
        <h1>Let's start the work now:</h1>
        <ul class="manual">
          <li>Add the task</li>
          <li>Start the timer (tomato)</li>
          <li>Work until timer rings</li>
          <li>Make the short pause (3-5 min)</li>
          <li>Continue to work on your task until it's done. Make a long pause after every 4 tomatoes (15-20 min).</li>
        </ul>
        <app-tasks-list></app-tasks-list>
    </div>
    <app-timer></app-timer>
</div>